@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-title {
    font-size: clamp(1rem, -0.5313rem + 9.68888888889vw, 6.359375rem);
    max-width: 22ch;
  }

  .column-1 {
    grid-column: 2/16;
    z-index: 3;
  }

  .column-2 {
    grid-column: 9/17;
    margin-top: -93.139vh;
  }

  .b-header {
    border-radius: 1em 1em 0 0;
  }

  .box {
    background-color: #f8f8f8;
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: 5;
    overflow: auto;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
  }

  .title {
    text-transform: uppercase;
    white-space: nowrap;
    mix-blend-mode: exclusion;
    font-size: 25.889vw;
    font-weight: 900;
    color: white;
  }

  .blend-exclusion {
    mix-blend-mode: exclusion;
  }

  .blend-difference {
    mix-blend-mode: difference;
  }
}

@layer base {
  .empty-stars:before,
  .full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 2rem;
  }

  .small-stars:before {
    font-size: 1.25rem !important;
  }

  .empty-stars:before {
    -webkit-text-stroke: 1px #848484;
  }

  .full-stars:before {
    -webkit-text-stroke: 1px orange;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    background-color: #000;
    font-family: var(--font-mona-sans);
    @apply text-lg;
  }

  .card-hovered .card-item {
    @apply opacity-100;
  }

  .card-hovered .card-title {
    @apply opacity-80;
  }

  .card-hovered {
    background: linear-gradient(rgba(0, 0, 0, 0) 47.92%, rgb(0, 0, 0) 100%);
  }

  .card-title {
    @apply transition-card opacity-0;
  }

  .card-item {
    @apply transition-card opacity-0;
  }

  .transition-card {
    transition: opacity 0.3s ease;
  }

  .loading-dot {
    animation: loading-animation 1s infinite;
    opacity: 0;
  }

  .loading-dot:nth-child(2) {
    animation-delay: 0.5s;
  }

  .loading-dot:nth-child(3) {
    animation-delay: 0.75s;
  }

  @keyframes loading-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  /* ------------------------------------ */
  /*             Overlay Styles           */
  /* ------------------------------------ */
  header nav {
    @apply invisible overflow-auto md:visible md:overflow-visible;
  }

  button[aria-expanded="true"] + nav {
    @apply visible fixed inset-0 z-10 bg-primary/60;
  }

  .blocked {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
  }

  /* ------------------------------------ */
  /*      Toggle Navbar Visibility        */
  /* ------------------------------------ */

  #navbar-menu {
    transition:
      right 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
    @apply invisible -right-full md:visible md:right-0;
  }

  button[aria-expanded="true"] + nav > #navbar-menu {
    @apply visible right-0;
  }

  button[aria-expanded="true"] + nav {
    @apply !block;
  }

  /* ------------------------------------ */
  /*         Hamburger Menu Styles        */
  /* ------------------------------------ */

  button[aria-expanded="true"] .bar1 {
    @apply translate-y-2 rotate-45;
  }

  button[aria-expanded="true"] .bar2 {
    @apply opacity-0;
  }

  button[aria-expanded="true"] .bar3 {
    @apply -translate-y-2 -rotate-45;
  }

  /* ------------------------------------ */
  /*        Mobile Device Menu Styles     */
  /* ------------------------------------ */

  .menu-options {
    max-width: 18.75rem;

    min-height: 100vh;
    min-height: 100dvh;
    z-index: 10;
    @apply absolute top-0 right-0 w-full flex-col items-center bg-white p-6 pt-20 text-primary md:relative md:min-h-fit md:max-w-none md:p-0;
  }

  @media screen(md) {
    .menu-options {
      @apply block w-full flex-row bg-transparent text-primary;
    }
  }
}
